body {
    
    margin: 0px;
    padding: 0px;
}

.header {
    background: #1f2937;
    font-family: Besley, serif;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 20px;   
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
  }

.title {
    background: #1f2937;
    font-family: Besley, serif;
    color: antiquewhite;
    padding: 65px;
    width: 225px;

}

.topcard {
    display: flex;
    flex-direction: column;
    
}

.title-holder {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    
}

.header-image {
    width: 350px;
    height: 125px;
    margin: auto;
}

.midcard {
    display: flex;
    flex-direction: column;
}

.header2 {
    text-align: center;
}

.styled-image {
    max-width: 65%;
    border: 2px solid #d1e427;
    border-radius: 8px;
}

.styled-image:hover {
    transform: scale(1.2);
}

.picbox {
    display: flex;
    justify-content: space-around;
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.thirdcard {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: rgb(82, 73, 73);
}

.name {
    font-size: 16px;
    font-style: bold;
    color: darkblue;
}

.fourthcard {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 75px;
    
}

.actiontext {
    font-size: 10px;
}

.footer {
    font-size: 12px;
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 25px;

}