body {
    background-image: url('images/img3.jpg');
    margin: 0px;
    padding: 0px;
}


.header {
    background-color: #1f2937;
    font-family: Besley, serif;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0px;  
    margin-bottom: 10px;
    
}

.header-button {
    padding: 5px;
    margin: 25px;
}

.logo {
    margin-left: 45px;   
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 5px;
    gap: 16px;
  }

.title {
    font-family: Besley, serif;
    color: antiquewhite;
    padding: 15px;
    margin-left: 25px;
    width: 300px;
}

.topcard {
    display: flex;
    flex-direction: column;
}

.title-holder {
    display: flex;
    justify-content: space-around;
    background: #1f2937c9;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    
}

.signup {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    
}

.header-image {
    max-width: 25%;
    
    margin: auto;
}

.midcard {
    display: flex;
    flex-direction: column;
}

.header2 {
    text-align: center;
    background-color: #f4f8c08a;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 25px;
}

.styled-image {
    max-width: 65%;
    border: 2px solid #d1e427;
    border-radius: 8px;
    margin-top: 20px;
}

.styled-image:hover {
    transform: scale(1.2);
}

.picbox {
    display: flex;
    justify-content: space-around;
}

.image-wrapper {
    margin-top: 20px;
    text-align: center;
    background-color: #020202cc;
}



.image-caption {
    margin-top: 20px;
    font-size: 14px;
    color: #f8f8f8;
}

.thirdcard {
    
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 194, 178);
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: rgb(99, 67, 67);
    
}

.name {
    font-size: 16px;
    font-style: bold;
    color: darkblue;
    margin-bottom: 45px;
    margin-left: 34%;
}

.fourthcard {
    
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0a9;
    margin: 75px;
    
}

.actioncall {
    margin: auto;
}

.actiontext {
    font-size: 15px;
    color: #1f2937;
}

.footer {
    font-size: 12px;
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 25px;
}

.action-button {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    
}